<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dishapp">
    <!-- Permitir acceso a la galeria del dispositivo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permiso de Internet por usar Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permiso de LLamadas -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DishApp">
        <activity android:name=".AdminInfoPedido"></activity>
        <activity android:name=".UserDetallePlato" />
        <activity android:name=".Admin_Lista_Pedido" />
        <activity android:name=".Admin_Info_Pedido" />
        <activity android:name=".AdminReportePedidos" />
        <activity android:name=".User_Pedido_Confirmado" />
        <activity android:name=".User_Datos_Pedido" />
        <activity android:name=".User_lista_platos" />
        <activity android:name=".user_info_plato" />
        <activity android:name=".AdminListaPlatos" />
        <activity android:name=".AdminNuevoPlato" />
        <activity android:name=".MainAdmin" />
        <activity android:name=".AdminLogin" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>